@import "tailwindcss";

:root {
  --background: #FCF8E8;
  --foreground: black;
  --primary: #800080;
  --accent: #F24E3E;
  --font-oswald: 'Oswald', sans-serif;
}


body {
  background-color: var(--background);
  color: var(--foreground);
}

button, a {
  font-family: var(--font-oswald) !important;
}
